@charset "UTF-8"
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width:100vw;
    background-color: black;
}

body{
    background: url('../projeto_social/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /*Para cobrir a tela inteira*/
    background-attachment: fixed; /*Para ficar fixo e não ter barra de rolagem*/
}

main{
    height: 100vh;
    position: relative; /* poder organizar a centralização do celular */
    
}

section#telefone{
    position: absolute; /* essas linhas fazem com que a imagem fique centralizada independente do tamanho da tela*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    


    height: 627px;
    width: 311px;
    background: url('../projeto_social/imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;  /*transfere os ícones para direita*/
}

section#redes-sociais img{
    width: 50px;
    margin: 10px; /*Para separar*/
    border-radius: 50%;  /*tornou redonda a imagem*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box; /*torna a borda parte da caixa*/

}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.068);
    transform: translate(-3px, -3px); /*bota a caixa pra cima e pra esquerda  qnd passar por cima*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform 0.5s, border 1s; /*torna mais suave a aparição*/

}

